@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --accent: #EA5959;
    --default: rgba(0, 0, 0, 0.3);
}
*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #EA5959;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 32px;
    font-size: 18px;
    font-weight: 300;
}
.todo {
    padding: 32px;
    background-color: #fff;
    width: 90vw;
    border-radius: 16px;
}
.todo_new {
    --size:50px;
    display: flex;
    margin: 16px 0 32px;
}
.todo_new input {
    margin-right: 16px;
    padding: 8px 16px;
    height: var(--size);
    border: 1px solid var(--default);
    border-radius: 5px;
    flex-grow: 1;
}
.todo_add,
.todo_task-del {
    cursor: pointer;
    text-align: center;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    line-height: calc(var(--size)*0.95);
    background: var(--accent);
    color: #fff;
    font-size: 32px;
    font-weight: 200;
}
:root {

}
.todo_list > *:not(:last-child) {
margin-bottom: 8px;
}
.todo_task_complete .todo_task_title {
text-decoration: line-through;
color: var(--default);
}

.todo_task {
    cursor: default;
    display: flex;
    align-items: center;
    --size:36px;
    min-height: var(--size);
}
.todo_task:hover .todo_task-del {
    display: block;

}
.todo_checkbox {
    margin-right: 16px;
}
.todo_checkbox input{
    display: none;
}
.todo_checkbox input:checked + div {
    background-color: var(--accent);
}
.todo_checkbox input:checked + div::after {
    display: block;
}
.todo_checkbox div{
    --size:28px;
    cursor: pointer;
    height: var(--size);
    width: var(--size);
    border: 1px solid var(--accent);
    border-radius: 4px;
    position: relative;
    color: #fff;
}
.todo_checkbox div::after{
    text-align: center;
    content: '\2713';
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    position: relative;
}
.todo_task-del {
    --size:36px;
    margin-left: auto;
    margin-right: 0;
    font-size: 44px;
    line-height: calc(var(--size)*0.8);
    display: none;
}
.todo_task_title{
    font-size: 20px;
}
